body {
    color: rgb(200, 200, 200);
    font-family: 'Roboto', serif;
    background-color: #111827;
}

.main {
    height: 550px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    text-align: center;
}

.calculator {
    height: 500px;
    width: 100%;
    max-width: 300px;
    background-color: rgb(0, 0, 0);
}

.display {
    height: 100px;
    padding: 10px 10px;
}

.display-inner {
    height: 100%;
    width: 100%;
}

.buttons {
    height: 400px;
}