body {
    color: rgb(200, 200, 200);
    font-family: 'Roboto', serif;
    background-color: #111827;
}

.main {
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    text-align: center;
}

.calculator {
    height: 95%;
    width: 300px;
    background-color: rgb(100, 100, 100);
}

.display {
    height: 20%;
}

.buttons {
    height: 80%;
}