body {
    color: rgb(200, 200, 200);
    font-family: 'Roboto', serif;
    background-color: #111827;
}

.main {
    height: 550px;
}

.calculator {
    height: 95%;
    width: 300px;
    background-color: gray;
}